<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue darken-4">
      <a routerLink="/out" class="brand-logo center" style="font-family: explora;font-size: 320%;">makits</a>
    </div>
  </nav>
</div>

<div class="login-body"></div>
<div class="container">
    <div class="row" style="margin-top:30px;">
        <div *ngIf="webserviceError; else formBlock" >
          <div class="card col s12 m6 offset-m3 center-align">
            <div class="card-content">
              <div class="card-title center-align">
                <h4>No user found</h4>
              </div>
              <a routerLink="/out" class="btn red darken-1 col s12 m6 offset-m3">Go back</a><br/>
            </div>
          </div>
        </div>
        <ng-template #formBlock>
          <div class="card center-align col s12 m6 offset-m3" style="margin-top:30px;">
              <div class="card-content">
              <div class="card-title center-align">
                Reset your password
              </div>
              <form class="login-form" 
              #passwordForm="ngForm" (ngSubmit)="passwordForm.form.valid && onSubmit()" novalidate>
                <div class="row margin">
                  <div class="input-field col s12">
                    <input id="userpassword" type="password" 
                    name="password" [(ngModel)]="formModel.password" #password="ngModel" 
                    [ngClass]="{ 'is-invalid': passwordForm.submitted && password.invalid }" required>
                    <label for="userpassword">New password</label>
                  </div>
                  <div *ngIf="passwordForm.submitted && password.invalid" class="invalid-feedback">
                      <div *ngIf="password.errors.required" 
                      class="helper-text red-text text-darken-1" 
                      data-error="wrong" data-success="right">Password is required</div>
                  </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                      <input id="userpassword_confirmation" type="password" 
                      name="password_confirmation" [(ngModel)]="formModel.password_confirmation" 
                      #password_confirmation="ngModel" 
                      [ngClass]="{ 'is-invalid': passwordForm.submitted && password_confirmation.invalid }" required>
                      <label for="userpassword_confirmation">Your mail address</label>
                    </div>
                    <div *ngIf="passwordForm.submitted && password_confirmation.invalid" class="invalid-feedback">
                        <div *ngIf="password_confirmation.errors.required" 
                        class="helper-text red-text text-darken-1" 
                        data-error="wrong" data-success="right">Password confirmation is required</div>
                    </div>
                  </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit"
                        class="waves-effect btn blue darken-4 col s12 m6 offset-m3">Change password</button>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </ng-template>
      </div>
</div>