<div class="navbar-fixed hide-on-large-only2">
    <nav>
        <div class="nav-wrapper blue darken-4">
            <a routerLink="/out" class="brand-logo center" style="font-family: explora;font-size: 320%;">makits</a>
        </div>
    </nav>
</div>
<!-- Div which contain bg image     -->
<div class="login-body"></div>
<!--<div class="row hide-on-med-and-down" style="height: 60px;">&nbsp;</div>-->
<div class="container">
  <div class="row">
    <div class="card center-align col s12 m6 offset-m3" style="margin-top: 70px; opacity: 0.9 !important;">
        <img src="../../assets/images/avatar-7.png" 
        class="login-avatar">
      <div class="card-content">
        <div class="card-title center-align">
          Sign in
        </div>
        <form class="login-form" 
        #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && onSubmit()" novalidate>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="material-icons prefix blue-text text-darken-4">person_outline</i>
                    <input id="useridentity" type="text" 
                        name="credential" [(ngModel)]="formModel.credential" #credential="ngModel" 
                        [ngClass]="{ 'is-invalid': loginForm.submitted && credential.invalid }" required />
                    <label for="useridentity" >Username or Email</label>
                </div>
                <div *ngIf="loginForm.submitted && credential.invalid" class="invalid-feedback">
                    <div *ngIf="credential.errors.required" 
                    class="helper-text red-text text-darken-1" data-error="wrong" data-success="right">Username or Email is required</div>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="material-icons prefix blue-text text-darken-4">lock_outline</i>
                    <input id="password" type="password" class="validate" 
                        name="password" [(ngModel)]="formModel.password" #password="ngModel" 
                        [ngClass]="{ 'is-invalid': loginForm.submitted && password.invalid }" required />
                    <label for="password">Password</label>
                </div>
                <div *ngIf="loginForm.submitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required" 
                    class="helper-text red-text text-darken-1" data-error="wrong" data-success="right">Fill your password</div>
                </div>
            </div>
            <div class="row center-align">
                <span class="col s6">
                <a routerLink="./recover-pass" 
                class="blue-text text-darken-4">Loss password ?</a>
                </span>
                <span class="col s6">
                    <a routerLink="./register" 
                    class="blue-text text-darken-4">New on makits ?</a>
                </span>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <button type="submit"
                    class="btn blue darken-4 col s12">Login now</button>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>