<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!--    Top bar for all pages   -->
<header id="header" class="page-topbar">
    <div class="navbar navbar-fixed">
        <nav class="nav-extended blue darken-4" role="navigation">
            <div class="nav-wrapper container">
                <a href data-target="mobile-sidenav" 
                    class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="left">
                    <li>
                        <h1 class="logo-wrapper">
                            <a routerLink="/" class="brand-logo">
                                <span class="logo-text" style="font-family: explora;">makits</span>
                            </a>
                        </h1>
                    </li>
                </ul>
                <div class="header-search-wrapper hide-on-med-and-down sideNav-lock">
                    <i class="material-icons">search</i>
                    <input type="text" name="Search" class="header-search-input z-depth-2"
                    placeholder="Find neigborhood, deals, places" />
                </div>
                <ul class="right hide-on-large-only">
                    <li>
                        <a href><i class="material-icons">search</i></a>
                    </li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a routerLink="/" class="toggle-fullscreen">
                        <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/content/peoples/" data-activates="notifications-dropdown">
                        <i class="material-icons">group</i>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-trigger" 
                        data-target="profile-dropdown">
                        <span class="avatar-status avatar-online">
                            <img src="assets/images/sean.jpg" alt="avatar">
                            <i></i>
                        </span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Dropdown Structure -->
    <ul id="profile-dropdown" class="dropdown-content">
        <li>
            <a routerLink='/myprofile' class="grey-text text-darken-1">
            <i class="material-icons">face</i> Profile</a>
        </li>
        <li>
            <a href class="grey-text text-darken-1">
            <i class="material-icons">live_help</i> Help</a>
        </li>
        <li class="divider"></li>
        <li>
            <a routerLink="/signout" class="grey-text text-darken-1">
            <i class="material-icons">keyboard_backspace</i> Logout</a>
        </li>
    </ul>
    <!-- Mobile sidenav -->
    <ul id="mobile-sidenav" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="assets/images/bg10.jpg"
                    width="100%" height="100%" />
                </div>
                <a routerLink="/myprofile" class="blue-text text-darken-4">
                    <img class="circle" src="assets/images/avatar-7.png">
                </a>
                <a routerLink="/myprofile" class="blue-text text-darken-4">
                    <span class="white-text name">John Doe</span>
                </a>
                <a routerLink="/myprofile" class="blue-text text-darken-4">
                    <span class="white-text email">jdandturk@gmail.com</span>
                </a>
            </div>
        </li>
        <li><a href><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href>Second Link</a></li>
        <li><div class="divider"></div></li>
        <li>
            <a routerLink="/content/deals" 
            class="blue-text text-darken-4">Deals</a>
        </li>
        <li>
            <a routerLink="/content/events" 
            class="blue-text text-darken-4">Events</a>
        </li>
        <li>
            <a routerLink="/content/medicare" 
            class="blue-text text-darken-4">Medicare, pharmacies</a>
        </li>
        <li>
            <a routerLink="/content/immovables" 
            class="blue-text text-darken-4">Immovables</a>
        </li>
        <li>
            <a routerLink="/content/jobs" 
            class="blue-text text-darken-4">Jobs, offers</a>
        </li>
        <li>
            <a routerLink="/content/peoples" 
            class="blue-text text-darken-4">Peoples</a>
        </li>
        <li><div class="divider"></div></li>
        <li>
            <a routerLink="/signout">Logouts</a>
        </li>
    </ul>
</header>

<!-- Wrapper for content    -->
<div *ngIf="showTabbar;" class="row hide-on-med-and-up" 
style="height:30px;">&nbsp;</div>
<div class="container" id="main">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>
