/**
COMMONS STYLES
**/
.signup-body-color-bg {
  position: fixed;
  z-index: -11;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #1e88e5;
  padding: 20px;
}
.signup-body {
  position: fixed;
  z-index: -10;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url(../../assets/images/bg10.jpg) no-repeat center center fixed;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
}