<div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper blue darken-2">
          <a routerLink="/out" class="brand-logo center" style="font-family: explora;font-size: 320%;">makits</a>
      </div>
  </nav>
</div>
<!--<div class="signup-body-color-bg"></div>-->
<!-- Div which contain bg image     -->
<div class="signup-body"></div>

<!-- Wizard bloc for personal informations  -->
<div class="section">
  <!--  Sub-section for user form -->
  <div class="row" *ngIf="personalFormBlock">
    <form #userForm="ngForm" enctype="multipart/form-data"
  (ngSubmit)="submitUserForm(userForm.value)">
    <div class="card blued">
      <div class="card-content white-text">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width" id="tabs-firstsetup">
          <li class="tab"><a href="#aboutContainer" class="blue-text darken-2">About you</a></li>
          <li class="tab"><a href="#skillContainer" class="blue-text darken-2">Your skills</a></li>
          <li class="tab"><a href="#avatarContainer" class="blue-text darken-2">Avatar</a></li>
        </ul>
      </div>
      <div class="card-content white">
        <div id="aboutContainer">
          <div class="row">
              <div class="input-field col s12 m6">
                  <input id="firstName" type="text" name="firstname"
                  [(ngModel)]="userModel.firstname" #firstname="ngModel" />
                  <label for="firstName">firstname</label>
              </div>
              <div class="input-field col s12 m6">
                  <input id="lastName" type="text" name="lastname" 
                  [(ngModel)]="userModel.lastname" #lastname="ngModel" />
                  <label for="lastName">lastname</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <div class="col s6">
                    <input name="gender" type="radio" id="genderFemale" 
                    [(ngModel)]="userModel.gender" #gender="ngModel"
                    value="female" class="with-gap" checked="checked" />
                    <label for="genderFemale" class="blue-text text-darken-4">Woman</label>
                  </div>
                  <div class="col s6">
                    <input name="gender" type="radio" id="genderMale" 
                    [(ngModel)]="userModel.gender" #gender="ngModel"
                    value="male" class="with-gap" />
                    <label for="genderMale" class="blue-text text-darken-4">Man</label>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s4">
                  <select class="browser-default" name="dob_day"
                  [(ngModel)]="userModel.dob_day" #dob_day="ngModel">
                      <option disabled selected>Day</option>
                      <option *ngFor="let day of dobDays" value="{{ day }}">
                        {{ day }}
                      </option>
                  </select>
              </div>
              <div class="input-field col s4">
                  <select class="browser-default" name="dob_month"
                  [(ngModel)]="userModel.dob_month" #dob_month="ngModel">
                      <option disabled selected>Month</option>
                      <option *ngFor="let month of dobMonths" value="{{ month.monthNumber }}">
                        {{ month.longname }}
                      </option>
                    </select>
              </div>
              <div class="input-field col s4">
                  <select class="browser-default" name="dob_year"
                  [(ngModel)]="userModel.dob_year" #dob_year="ngModel">
                      <option disabled selected>Year</option>
                      <option *ngFor="let dobyear of dobYears" value="{{ dobyear }}">
                        {{ dobyear }}
                      </option>
                    </select>
              </div>
          </div>
        </div>
        <div id="skillContainer">
          <div class="row">
            <div class="input-field col s12">
              <input id="jobtitle" type="text" name="job_title" 
              [(ngModel)]="userModel.job_title" #job_title="ngModel" />
              <label for="jobtitle">What is you main activity ?</label>
              <span class="helper-text">ex: student, doctor, electrician, plomber</span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <div class="col s12">
                <textarea id="jobdescription" name="job_description" 
              [(ngModel)]="userModel.job_description" #job_description="ngModel"
                class="materialize-textarea"></textarea>
                <label for="jobdescription">Describe your activity</label>
              </div>
            </div>
          </div>
        </div>
        <div id="avatarContainer">
          <div class="row">
            <div class="file-field input-field">
              <div class="btn2">
                  <img [src]="localUrl" class="circle image_preview" />
                <input type="file" (change)="showPreviewImage($event)"
                name="useravatar"
                [(ngModel)]="userModel.useravatar" #useravatar="ngModel" />
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="hidden">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action">
        <a href="javascript:void(0);" 
        (click)="personalFormBlock=false;locationFormBlock=true;locationsService.getGPSPosition();"
         class="blue-text text-darken-4">Ignore</a>
        <button type="submit" class="btn blue darken-2">Next</button>
      </div>
    </div>
    </form>
  </div>
  <!-- Row - Card for location informations (country, region, town and place) -->
  <div class="row" *ngIf="locationFormBlock">
    <form>
      <div class="card col s12 m8 offset-m2">
        <!--  Card content  -->
        <div class="card-content black-text">
          <span class="card-title">Setting up your location</span>
          <p>Enjoy anything arround.</p>
          <div class="row">
            <div class="input-field col s12 m6">
              <input type="text" name="locationCountry" 
              placeholder="Your country" value="" />
            </div>
            <div class="input-field col s12 m6">
              <input type="text" name="locationRegion"
              placeholder="Region" value="" />
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <input type="text" name="locationCity"
              placeholder="City" value="" />
            </div>
            <div class="input-field col s12 m6">
              <input type="text" name="locationPlace"
              placeholder="Place name" value="" />
            </div>
          </div>
        </div>
        <!-- Card action buttons  -->
        <div class="card-action">
          <a href="/content/" class="blue-text text-darken-4">Ignore</a>
          <button type="submit" class="btn blue darken-2">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>