<nav>
  <div class="nav-wrapper blue darken-4">
    <a routerLink="/out" class="brand-logo center" style="font-family: explora;font-size: 320%;">makits</a>
  </div>
</nav>

<div class="login-body"></div>
<section>
  <div class="row center-align">
    <div class="card center-align" style="width:350px;margin-top:100px;opacity: 0.9;">
        <div class="card-content">
        <div class="card-title center-align">
          Reset your password
        </div>
        <form class="login-form" 
        #passwordForm="ngForm" (ngSubmit)="passwordForm.form.valid && onSubmit()" novalidate>
            <div class="row margin">
                <div class="input-field col s12">
                <input id="useridentity" type="email" 
                name="useremail" [(ngModel)]="formModel.useremail" #useremail="ngModel" 
                [ngClass]="{ 'is-invalid': passwordForm.submitted && useremail.invalid }" required>
                <label for="useridentity">Your mail address</label>
              </div>
              <div *ngIf="passwordForm.submitted && useremail.invalid" class="invalid-feedback">
                  <div *ngIf="useremail.errors.required" 
                  class="helper-text red-text text-darken-1" 
                  data-error="wrong" data-success="right">Email is required</div>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12 m6 offset-m3">
                  <button type="submit"
                  class="btn blue darken-4 col s12">Get code</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>