.container {
    max-width: 1280px;
    width: 100%;
  }
  @media only screen and (min-width: 601px){
    .container {
      width: 85%;
    }
  }
  @media only screen and (min-width: 993px){
    .container {
      width: 70%;
    }
  }  
  /**
  COMMONS STYLES
  **/
  section {
    display: table;
    margin: 0 auto;
  }
  /**
  COMMONS STYLES
  **/
  .login-body {
    position: fixed;
    z-index: -10;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url(../../assets/images/bg13.jpg) no-repeat center center fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
  }
  