/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "explora";
    src: url("assets/fonts/explora.ttf");
}
/* You can add global styles to this file, and also import other style files */

.container {
  max-width: 1280px;
  width: 95%;
}
@media only screen and (min-width: 601px){
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 993px){
  .container {
    width: 70%;
  }
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
.input-field textarea:focus{
  border-bottom: 1px solid #1976d2;
  box-shadow: 0 1px 0 0 #1976d2;
  color: #1976d2;
}
/* valid color */
.input-field input[type=text].valid,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
.input-field textarea:focus{
  border-bottom: 1px solid #1976d2;
  box-shadow: 0 1px 0 0 #1976d2;
  color: #1976d2;
}
/* invalid color */
.input-field input[type=text].invalid,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
.input-field textarea:focus{
  border-bottom: 1px solid #1976d2;
  box-shadow: 0 1px 0 0 #1976d2;
  color: #1976d2;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #1976d2;
}


.profile-counts{
  font-size: 80%;
}

/*
* Overwritting some styles of materialize
*/
.card,
.card-panel,
.btn,
.btn-small,
.btn-large,
.btn-flat {
  border-radius: 8px !important;
}
.modal .modal-footer {
  border-radius: 8px 8px 8px 8px !important;
}

/* Radio Buttons
   ========================================================================== */
   [type="radio"]:not(:checked),
   [type="radio"]:checked {
     position: absolute;
     opacity: 0;
     pointer-events: none;
   }
   
   [type="radio"]:not(:checked) + label,
   [type="radio"]:checked + label {
     position: relative;
     padding-left: 35px;
     cursor: pointer;
     display: inline-block;
     height: 25px;
     line-height: 25px;
     font-size: 1rem;
     -webkit-transition: .28s ease;
     transition: .28s ease;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
   }
   
   [type="radio"] + label:before,
   [type="radio"] + label:after {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     margin: 4px;
     width: 16px;
     height: 16px;
     z-index: 0;
     -webkit-transition: .28s ease;
     transition: .28s ease;
   }
   
   /* Unchecked styles */
   [type="radio"]:not(:checked) + label:before,
   [type="radio"]:not(:checked) + label:after,
   [type="radio"]:checked + label:before,
   [type="radio"]:checked + label:after,
   [type="radio"].with-gap:checked + label:before,
   [type="radio"].with-gap:checked + label:after {
     border-radius: 50%;
   }
   
   [type="radio"]:not(:checked) + label:before,
   [type="radio"]:not(:checked) + label:after {
     border: 2px solid #5a5a5a;
   }
   
   [type="radio"]:not(:checked) + label:after {
     -webkit-transform: scale(0);
             transform: scale(0);
   }
   
   /* Checked styles */
   [type="radio"]:checked + label:before {
     border: 2px solid transparent;
   }
   
   [type="radio"]:checked + label:after,
   [type="radio"].with-gap:checked + label:before,
   [type="radio"].with-gap:checked + label:after {
     border: 2px solid #0d47a1;
   }
   
   [type="radio"]:checked + label:after,
   [type="radio"].with-gap:checked + label:after {
     background-color: #0d47a1;
   }
   
   [type="radio"]:checked + label:after {
     -webkit-transform: scale(1.02);
             transform: scale(1.02);
   }
   
   /* Radio With gap */
   [type="radio"].with-gap:checked + label:after {
     -webkit-transform: scale(0.5);
             transform: scale(0.5);
   }
   
   /* Focused styles */
   [type="radio"].tabbed:focus + label:before {
     -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
             box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
   }
   
   /* Disabled Radio With gap */
   [type="radio"].with-gap:disabled:checked + label:before {
     border: 2px solid rgba(0, 0, 0, 0.42);
   }
   
   [type="radio"].with-gap:disabled:checked + label:after {
     border: none;
     background-color: rgba(0, 0, 0, 0.42);
   }
   
   /* Disabled style */
   [type="radio"]:disabled:not(:checked) + label:before,
   [type="radio"]:disabled:checked + label:before {
     background-color: transparent;
     border-color: rgba(0, 0, 0, 0.42);
   }
   
   [type="radio"]:disabled + label {
     color: rgba(0, 0, 0, 0.42);
   }
   
   [type="radio"]:disabled:not(:checked) + label:before {
     border-color: rgba(0, 0, 0, 0.42);
   }
   
   [type="radio"]:disabled:checked + label:after {
     background-color: rgba(0, 0, 0, 0.42);
     border-color: #949494;
   }